@page "/clienti"

<div class="container mt-5">

    @if (loading == true)
    {
        <div class="d-flex justify-content-center mt-5">
            <div class="spinner-border text-primary" role="status"></div>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4>Numero Clienti <span class="badge badge-success text-dark">@clienti.Count</span></h4>


                <button type="button" class="btn btn-outline-primary" @onclick="()=> showModal=true">Aggiungi</button>
            </div>
           
            <div class="card-body">



          <div class="table-responsive">

            <table class="table table-borderless table-hover table-striped table-sm">
                <thead class="table table-dark">
                    
                        <tr class="table table-info">
                            <th>Codice</th>
                            <th>Nome</th>
                            <th>Cognome</th>
                            <th>Email</th>
                            <th>Settore</th>
                        </tr>            
                    
                </thead>
                <tbody>

                      
                        @foreach (var cliente in clienti)
                    {

                            <tr @onclick="() => apriModifica(cliente)" style="cursor:pointer">
                            <td>@cliente.Codice</td>
                            <td>@cliente.Nome</td>
                            <td>@cliente.Cognome</td>
                            <td>@cliente.Email</td>
                            <td>@cliente.Settore</td>
                           
                        </tr>
                    }
                </tbody>
            </table>
           </div>

        </div>
    </div>
    }
</div>
@if (showModal)
{
    <div class="modal-backdrop fade show"></div>
    <div class="modal d-block">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aggiungi Cliente</h5>
                    <button class="btn-close" @onclick="() => showModal = false"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Nome</label>
                        <input class="form-control" type="text" @bind="nuovoCliente.Nome" placeholder="Inserisci nome" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cognome</label>
                        <input class="form-control" type="text" @bind="nuovoCliente.Cognome" placeholder="Inserisci cognome" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control" type="text" @bind="nuovoCliente.Email" placeholder="Inserisci email" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Settore</label>
                        <input class="form-control" type="text" @bind="nuovoCliente.Settore" placeholder="Inserisci settore" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary" @onclick="() => showModal = false">Annulla</button>
                    <button class="btn btn-success" @onclick="() => salvaCliente(nuovoCliente)">Salva</button>
                </div>
            </div>
        </div>
    </div>
}

@if (showModalmod)
{
    <div class="modal-backdrop fade show"></div>
    <div class="modal d-block">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifica Cliente</h5>
                    <button class="btn-close" @onclick="() => showModalmod = false"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Codice</label>
                        <input class="form-control" type="text" @bind="ClienteModificato.Codice" disabled />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nome</label>
                        <input class="form-control" type="text" @bind="ClienteModificato.Nome" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cognome</label>
                        <input class="form-control" type="text" @bind="ClienteModificato.Cognome" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control" type="text" @bind="ClienteModificato.Email" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Settore</label>
                        <input class="form-control" type="text" @bind="ClienteModificato.Settore" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger me-auto" @onclick="() => elimina(ClienteModificato.Codice)">Elimina</button>             
                    <button class="btn btn-outline-info" @onclick="()=> apriDettaglio(ClienteModificato)">Mostra richiesta</button>
                    <button class="btn btn-success" @onclick="() => modificaCliente(ClienteModificato, ClienteModificato.Codice)">Salva</button>
                </div>
            </div>
        </div>
    </div>
}

@if (showModaldett)
{
    <div class="modal-backdrop fade show"></div>
    <div class="modal d-block">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <h4 class="text-dark">Richiesta Cliente</h4>
                    </div>
                </div>
                <div class="modal-body">
                    @if (richieste.Count == 0)
                    {
                        <h4>Non sono presenti richieste per questo cliente</h4>
                    }
                    else {
                        @foreach (var r in richieste) {
                           <div class="card">
                               <div class="card-title">
                                    <h4>TITOLO: <strong>@r.Titolo</strong></h4>
                               </div>
                               <div class="card-body">
                                   <p>Stato:<strong>@r.Stato</strong></p>
                                    <p>Descrizione:<strong>@r.Descrizione</strong> </p>
                               </div>
                               <div class="card-footer">
                                    <button type="button" class="btn btn-outline-secondary" @onclick="()=> apriDettDipend(r)"> Assegnazione Dipendenti </button>
                               </div>
                           </div>
                        }

                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" @onclick="() => { showModaldett = false; showModalmod = true; }">Torna indietro</button>
                </div>
            </div>
        </div>
    </div>
}

@if (showModaldipend)
{
    <div class="modal-backdrop fade show"></div>
    <div class="modal d-block">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <h5 class="text-dark">Dipendenti a cui é stata assegnata richiesta</h5>
                    </div>
                </div>
                <div class="modal-body">
                    @if (dipendenti.Count == 0)
                    {
                        <h4>Questa richiesta non é stata assegnata a nessun dipendente </h4>
                    }
                    else
                    {
                        @foreach (var d in dipendenti)
                        {
                            <div class="card">
                                <div class="card-title">
                                    <h4>Dipendenti</h4>
                                    
                                </div>
                                <div class="card-body">
                                    <h4>Nome: <strong>@d.Nome</strong></h4>
                                    <p>Cognome:<strong>@d.Cognome</strong></p>
                                    <p>Email:<strong>@d.Email</strong> </p>
                                    <p>Qualifica:<strong>@d.Qualifica</strong></p>
                                    <p> Area Applicativa <strong> @d.Area</strong></p>
                                </div>
                               
                            </div>
                        }

                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" @onclick="() => { showModaldett = true; showModaldipend = false; }">Torna indietro</button>
                </div>
            </div>
        </div>
    </div>
}

