@inject IJSRuntime JS;
@page "/giocatori"


@* 
    @using BlazorAppTest.Interfaces
@inject IMiaCalcolatrice calc
 *@


<h3>Giocatori</h3>
<p>Questa é una schermata per inserire i giocatori</p>
<FormGiocatore GiocatoreIns="giocatoreIns" OnSalva="aggiungi" />


<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Eta</th>
        </tr>
    </thead>
    <tbody>


<!--    

porzione temporaneamente commentata...

-->
@* 

        @foreach (var g in giocatori)
        {
            <tr>
                @if (giocatoreSelezionato == g && mostraModifica)
                {
                    <td><input type="text" @bind="g.Nome" class="form-control w-75" /></td>
                    <td><input type="text" @bind="g.Cognome" class="form-control w-75" /></td>
                    <td><input type="number" @bind="g.Eta" class="form-control w-75" /></td>

                    <td><button class="btn btn-outline-danger" @onclick="() => elimina(g)">Elimina</button></td>
                    <td><button class="btn btn-success" @onclick="() => salvaModifica(g)">Salva</button></td>
                }
                else
                {

                    <td>@g.Nome</td>
                    <td>@g.Cognome</td>
                    <td>@g.Eta</td>
                    <td><button class="btn btn-outline-danger" @onclick="() => elimina(g)">Elimina</button></td>
                    <td><button class="btn btn-outline-secondary" @onclick="() => modifica(g)">Modifica</button></td>
                }
            </tr>
        }
 *@



        @for (int i = 0; i < giocatori.Count; i++)
        {
            Giocatore g = giocatori[i];
           

            <tr>

                <td>@g.Codice</td>
                @if (giocatoreSelezionato == g && mostraModifica)
                {
                   
                    <td><input type="text" @bind="g.name" class="form-control w-75" /></td>
                    <td><input type="text" @bind="g.username" class="form-control w-75" /></td>
                    <td><input type="number" @bind="g.email" class="form-control w-75" /></td>

                    <td><button class="btn btn-outline-danger" @onclick="() => elimina(g)">Elimina</button></td>
                    <td><button class="btn btn-success" @onclick="() => salvaModifica(g)">Salva</button></td>
                    <td><button class="btn btn-outline-warning" @onclick="() => annulla(g)">Annulla</button></td>

                }
                else
                {

                    <td>@g.name</td>
                    <td>@g.username</td>
                    <td>@g.email</td>
                    <td><button class="btn btn-outline-danger" @onclick="() => elimina(g)">Elimina</button></td>
                    <td><button class="btn btn-outline-secondary" @onclick="() => modifica(g)">Modifica</button></td>
                    <td><button class="btn btn-outline-info"" @onclick="()=> mostraDettagli(g.Codice)">Mostra</button></td>
                }
            </tr>

        }

    </tbody>

</table>

<h3>

    
    <button class="btn btn-outline-secondary" @onclick="() => leggiDatiAsync()">Leggi</button>

</h3>













